{% extends 'base.jinja' %}

{% block title %}Hello Admin! add to the database{% endblock %}

{% block content %}
<h1>Plants</h1>
<p>
Submit new here:
<br />
<form method="POST" action="/">
    {{form.name.label }} {{form. name(size=20)}}
    <br>
    {{form.german_name.label }} {{form. german_name(size=20)}}
    <br>
    {{form.latin_name.label }} {{form. latin_name(size=20)}}
    <br>
    {{form.plant_information.label }} {{form. plant_information(size=20)}}
    <br>
    {{form.light.label }} {{form. light(size=20)}}
    <br>
    {{form.watering.label }} {{form. watering(size=20)}}
    <br>
    {{form.placement.label }} {{form. placement(size=20)}}
    <br>
    {{form.insect_friendly.label }} {{form. insect_friendly(size=20)}}
    <br>
     {{form.other_information.label }} {{form. other_information(size=20)}}
    <br>
     <input type="submit" value="Go">
</form>
</p>
{% endblock %}