{% extends 'base.jinja' %}

{% block title %}Edit{% endblock %}

{% block content %}


<h1>Plants</h1>

<h3>Edit Plant :: {{ plant_edit.latin_name }}</h3>
<p>

<br />
<form method="POST" action="{{ url_for('edit', id=plant_edit.id, next=request.args.get('next')) }}">

    {{ form.csrf_token }}
    {{form.name.label }} {{form.name(size=20)}} 
    <br>
    {{form.german_name.label }} {{form.german_name(size=20)}}
    <br>
    {{form.latin_name.label }} {{form.latin_name(size=20)}}
    <br>
    {{form.plant_information.label }} {{form.plant_information(size=20)}}
    <br>
    {{form.light.label }} {{form.light(size=20)}}
    <br>
    {{form.watering.label }} {{form.watering(size=20)}}
    <br>
    {{form.placement.label }} {{form.placement(size=20)}}
    <br>
    {{form.insect_friendly.label }} {{form.insect_friendly(size=20)}}
    <br>
     {{form.other_information.label }} {{form.other_information(size=20)}}
    <br>

    <input type="submit" value="Go">
</form>
</p>
{% endblock %}


