{% extends 'base.jinja' %}

{% block title %}Plant Project - Home{% endblock%}
{% block content %}
<p>
Welcome to the Plant Project!
<br /><br>
<a href="{{ url_for('plants') }}">Plants</a>
<br>
Newest added plant:
[SHOW NEWEST ADDED PLANT HERE]
</p>
{% endblock %}