{% extends 'base.jinja' %}

{% block title %}Upload plant pictures{% endblock %}

{% block content %}
<h1>Plants</h1>
<p>
Add plant picture:

{% for item in picture_add %}
<h4> Choose a picture which shows a {{ item.latin_name }} : </h4>
 {% endfor %}

<br />
<form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
     <br>
</form>
</p>
{% endblock %}
